<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>{% block title %} Accueil {% endblock title%}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">

    {% block extra_head_content  %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Navigation -->
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Gestion DjpGirardin</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Accueil</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Factures<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'facture-create' %}">Créer</a></li>
                  <li><a href="{% url 'facture-list' %}">Listes</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-muted">Devis</span><span class="caret"></span></a>
                <!--<ul class="dropdown-menu">-->
                  <!--<li><a href="#">Créer</a></li>-->
                  <!--<li><a href="#">Listes</a></li>-->
                <!--</ul>-->
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'client-create' %}">Créer</a></li>
                  <li><a href="{% url 'client-list' %}">Listes</a></li>
                </ul>
              </li>
              <li><a href="#enveloppes"><span class="text-muted">Enveloppes</span></a></li>
              <li><a href="{% url 'add-tva' %}">TVA</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>


    {% block messages %}{% endblock %}

    <!-- Content -->
    {% block content %}        
    <!-- Page Content -->
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Dernières factures</h3>
                    {% include "minierp/table_facture.html" %}
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<h3>Derniers devis</h3>-->
                    {#{% include "minierp/table_devis.html" %}#}
                <!--</div>-->
            <!--</div>-->
            <div class="row">
              <div class="col-lg-12">
                  <h3>Derniers clients</h3>
                  {% include "minierp/table_client.html" %}
              </div>
            </div>
        </div>
    </div>


    {% endblock content %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="{% static 'js/jquery.js' %}"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% block extra_script_content  %}{% endblock %}

</body>
</html>

