{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{% if is_edition %}Modifier{% else %}Crééer{% endif %} une facture{% endblock title %}

{% block content %}        
  <!-- Page Content -->
  <div class="container">
      <div class="page-header">
          <div class="row">

              <div class="col-lg-10">
                <h3>{% if is_edition %}Modifier{% else %}Crééer{% endif %} une facture</h3>
                       <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}



    {% for facturestep in facturestep_formset %}
            <div class="link-formset">
                {% if facturestep.instance.pk %}{{ facturestep.DELETE }}{% endif %}

            {{ facturestep.step_title }}
            {% if facturestep.step_title.errors %}
                {% for error in facturestep.step_title.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ facturestep.step_description }}
            {% if facturestep.step_description.errors %}
                {% for error in facturestep.step_description.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
            </div>

    {% endfor %}
   {{ facturestep_formset.management_form }}

    {% if facturestep.non_form_errors %}
        {% for error in facturestep.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

                      <input type="submit" value="submit">
                </form>
              </div>
          </div>
      </div>
  </div>

{% endblock content %}

{% block extra_script_content  %}
{{ form.media }}


<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
    $('.link-formset').formset({
        prefix:  '{{ facturestep_formset.prefix }}',
        addText: 'add link',
        deleteText: 'remove'
    });
</script>



<script>
$(document).ready(function(){
  $(function() {
    $( "#id_date" ).datepicker();
  });
});

$(document).ready(function() {
  $("#id_id_client").change(function(){
    $.ajax({
      // The URL for the request
      url: "/minierp/client-data/",
      // The data to send (will be converted to a query string)
      data: {
          id: $(this).val()
      },
      // Whether this is a POST or GET request
      type: "POST",
      // The type of data we expect back
      dataType : "json",
      // Code to run if the request succeeds;
      // the response is passed to the function
      success: function( json ) {
          $("#id_client_address").val(json.address);
          $("#id_client_cp").val(json.cp);
          $("#id_client_city").val(json.city);
      }
    });
  });
});
</script>

{% endblock %}
