{% extends "base-minierp.html" %}

{% block title %}Liste factures{% endblock title %}


{% block extra_head_content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Liste des factures ({{ facture_list.count }})</h3>
      <div class="col-lg-12">
      {% include "messages.html" %}
      {% include "minierp/table_facture.html" %}
        </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_script_content  %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<script>
$(document).ready(function() {
  $('#example').DataTable({
  "language": {
      "lengthMenu": "Afficher _MENU_ factures par page",
      "zeroRecords": "Aucunes factures trouvées.",
      "info": "Page affichée _PAGE_ sur _PAGES_",
      "infoEmpty": "Pas de factures disponibles",
      "infoFiltered": "(filtré sur _MAX_ factures)"
      }
  });
} );
</script>
{% endblock %}