{% if facture_list %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>N°</th>
      <th>Client</th>
      <th>Titre</th>
      <th>Description</th>
      <th>Prix TTC</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for c in facture_list %}
      <tr>
      <td>{{ c.pk }}</td>
      <td>{{ c.get_client }}</td>
      <td>{{ c.titre }}</td>
      <td>{{ c.description }}</td>
      <td>{{ c.prixttc }}</td>
      <td><a href="{% url 'facture-edit' c.pk  %}" class="btn btn-sm btn-primary" role="button">Modifier</a></td>
      <td><a href="{% url 'facture-detail' c.pk  %}" class="btn btn-sm btn-primary" role="button">Imprimer</a></td>
      <td><a href="#" class="btn btn-sm btn-danger" role="button">Supprimer</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>Pas de factures.</p>
{% endif %}